Repository raxod502/cs121-whales: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, pipenv run black

.lintstagedrc:

linters:
  "*.js":
    - prettier --write
    - git add
  "*.py":
    - pipenv run black
    - git add
ignore:
  - "**/vendor/*.js"

# Local Variables:
# mode: yaml
# End:

Clean up git-lfs and vendorbinaries config
  .gitattributes
  .vendor_urls
  Aptfile
  scripts/build_tarball.sh
  scripts/vendorbinaries.sh
Due: none

Highlight king's square red when in check
  whales/static/js/play-controller.js
  whales/static/js/play-model.js
  whales/static/js/play-view.js
Due: prettier --write

Display computer's last move, fixed highlight check square for black
  whales/static/js/play-controller.js
  whales/static/js/play-model.js
  whales/static/js/play-view.js
Due: prettier --write

Fixed undo
  whales/static/js/play-controller.js
  whales/static/js/play-model.js
Due: prettier --write

Fixed undo (for real)
  whales/static/js/play-controller.js
Due: prettier --write

Add chess_alpha_zero model
  whales/neural_net/chess_alpha_zero.h5
  whales/neural_net/chess_alpha_zero.json
  whales/neural_net/data_conversion.py
  whales/neural_net/interface.py
  whales/neural_net/test_neural_net.py
Due: pipenv run black

Fully integrate chess_alpha_zero into app
  whales/models.py
  whales/neural_net/interface.py
Due: pipenv run black

Bump gunicorn timeout from 30s to 60s
  Makefile
Due: none

Define WHALES, update model names, change models to difficulty
  whales/html/new-game.html
  whales/html/play.html
  whales/models.py
  whales/static/css/new-game.css
  whales/static/css/play.css
Due: pipenv run black

updated undo to drop api requests
  whales/static/js/play-controller.js
  whales/static/js/play-model.js
Due: prettier --write

Added model that plays decently with new eval function
  whales/minimax_ab/minimax.py
  whales/models.py
  whales/neural_net/interface.py
Due: pipenv run black

removed extraneous things
  whales/html/play.html
  whales/minimax_ab/minimax.py
  whales/models.py
Due: pipenv run black

Add model using chess_alpha_zero policy predictions
  whales/models.py
  whales/neural_net/interface.py
  whales/util/chess.py
Due: pipenv run black

Add STYLE.md
  .dir-locals.el
  STYLE.md
Due: none

ran prettier
  whales/static/js/play-controller.js
  whales/static/js/play-model.js
Due: prettier --write

Update STYLE.md
  STYLE.md
Due: none

Correct minimax implementation
  whales/minimax_ab/minimax.py
  whales/models.py
Due: pipenv run black

Undo during AI's turn fixed
  whales/static/js/play-controller.js
Due: prettier --write

Bring docstrings up to code style
  whales/neural_net/chess_alpha_data.py
  whales/neural_net/data_conversion.py
  whales/neural_net/interface.py
  whales/neural_net/test_neural_net.py
Due: pipenv run black

Bring comments up to code style
  whales/neural_net/data_conversion.py
  whales/neural_net/interface.py
  whales/neural_net/test_neural_net.py
Due: pipenv run black

Add final docstring
  whales/neural_net/interface.py
Due: pipenv run black

Fix docstring line length
  whales/neural_net/interface.py
Due: pipenv run black

Display opponent difficulty on gameplay page
  whales/html/play.html
  whales/static/js/play-controller.js
  whales/static/js/play-view.js
Due: prettier --write

Fix verb tense.
  whales/neural_net/test_neural_net.py
Due: pipenv run black

Change "0 to 1" to "-1 to 1"
  whales/neural_net/interface.py
Due: pipenv run black

Fix pre-commit inside virtualenv
  scripts/pre-commit
Due: none

Remove trailing whitespace
  doc/notes/minimax-timeout-notes.md
  doc/notes/neural-network-notes.md
  whales/neural_net/chess_alpha_zero.json
Due: none

Change innerHtml to innerText
  whales/static/js/play-view.js
Due: prettier --write

Abort API request on undo during user's turn
  whales/static/js/play-controller.js
  whales/static/js/util.js
Due: prettier --write

Display opponent difficulty on gameplay page (#7)
  whales/html/play.html
  whales/static/js/play-controller.js
  whales/static/js/play-view.js
Due: prettier --write

Fix undo during computer's turn (#6)
  whales/static/js/play-controller.js
  whales/static/js/util.js
Due: prettier --write

Remove JSON files from LFS tracking
  .gitattributes
  whales/neural_net/chess_alpha_zero.json
  whales/neural_net/model 1.json
Due: none

Add app.json for Heroku Pipelines setup
  app.json
Due: none

Add app.json for Heroku Pipelines setup (#11)
  app.json
Due: none

Recommend to follow PEP8 for imports
  STYLE.md
Due: none

Line-wrap STYLE.md correctly
  STYLE.md
Due: none

Stop referring to neural nets as models
  whales/neural_net/data_conversion.py
  whales/neural_net/interface.py
  whales/neural_net/test_neural_net.py
Due: pipenv run black

Refactor interface to remove net_name parameters
  whales/neural_net/interface.py
Due: pipenv run black

Follow import order style
  whales/neural_net/chess_alpha_data.py
  whales/neural_net/interface.py
  whales/neural_net/test_neural_net.py
Due: pipenv run black

Refactor models.py and associated files
  .flake8
  whales/api.py
  whales/models.py
  whales/server.py
  whales/util/chess.py
Due: pipenv run black
