Repository raxod502/cs121-whales: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, pipenv run black

Move abort error logic
  whales/static/js/play-controller.js
  whales/static/js/util.js
Due: prettier --write

Fix undo while waiting bug (#30)
  whales/static/js/util.js
Due: prettier --write

Update api-spec.md to reflect current state of API
  doc/api-spec.md
Due: none

Update api-spec.md (#31)
  doc/api-spec.md
Due: none

Fix depth in hard model
  whales/models.py
Due: pipenv run black

Implement pawn promotion correctly
  whales/static/js/play-view.js
Due: prettier --write

Display pawn at the end of the board for promotion instead of snapping back
  whales/static/js/play-controller.js
  whales/static/js/play-model.js
  whales/static/js/play-view.js
Due: prettier --write

Implement better UI
  whales/html/play.html
  whales/static/css/play.css
  whales/static/css/shared.css
  whales/static/js/play-view.js
Due: prettier --write

Remove unused neural net files
  whales/neural_net/data_conversion.py
  whales/neural_net/test_neural_net.py
Due: pipenv run black

Docstrings, hide undo buttons instead of disabling them
  whales/static/css/play.css
  whales/static/js/play-controller.js
  whales/static/js/play-model.js
  whales/static/js/play-view.js
Due: prettier --write

Fix docstrings
  whales/static/js/play-model.js
  whales/static/js/play-view.js
Due: prettier --write

Clean up interface.py
  whales/neural_net/interface.py
Due: pipenv run black

Add module docstring
  whales/neural_net/chess_alpha_data.py
Due: pipenv run black

Remove other unused policy-model code
  whales/util/chess.py
Due: pipenv run black

Smooth transition of promotion move
  whales/static/js/play-controller.js
  whales/static/js/play-model.js
  whales/static/js/play-view.js
Due: prettier --write

Update play-view.js
  whales/static/js/play-view.js
Due: prettier --write

Pawn promotion (#35)
  whales/html/play.html
  whales/static/css/play.css
  whales/static/js/play-controller.js
  whales/static/js/play-model.js
  whales/static/js/play-view.js
Due: prettier --write

Re-comment Minimax code
  whales/minimax_ab/minimax.py
Due: pipenv run black

Remove unnecessary files
  whales/neural_net/model 1.h5
  whales/neural_net/model 1.json
Due: none

Add reminder comment for keeping models in sync
  whales/models.py
Due: pipenv run black

Fix stuff based on static lint output
  whales/minimax_ab/minimax.py
  whales/static/js/play-controller.js
  whales/static/js/play-view.js
  whales/util/chess.py
Due: prettier --write, pipenv run black

Detect promote conditions
  whales/static/js/play-model.js
Due: prettier --write

Add working modal box
  whales/html/play.html
  whales/static/css/play.css
  whales/static/js/play-view.js
Due: prettier --write

Stash progress do not release
  whales/html/play.html
  whales/static/css/play.css
  whales/static/js/play-controller.js
  whales/static/js/play-model.js
  whales/static/js/play-view.js
Due: prettier --write

Implement streaming to work around API timeouts
  .gitignore
  whales/server.py
  whales/util/__init__.py
Due: pipenv run black

Multithread to number of available cores
  Makefile
Due: none

Set jQuery timeout to 60s
  whales/static/js/util.js
Due: prettier --write

Fix up Gunicorn config
  Makefile
Due: none

Prettify pgn in url
  whales/static/js/util.js
Due: prettier --write

Handle case when there's no pgn
  whales/static/js/util.js
Due: prettier --write

Prettify pgn in url (#42)
  whales/static/js/util.js
Due: prettier --write

Remove import random from minimax.py
  whales/minimax_ab/minimax.py
Due: pipenv run black

Create popup and promote based on choice. Still needs cleaning
  whales/static/js/play-controller.js
  whales/static/js/play-model.js
  whales/static/js/play-view.js
Due: prettier --write

Promote pieces correctly, with user input. Add appropriate documentation
  whales/html/play.html
  whales/static/css/play.css
  whales/static/js/play-controller.js
  whales/static/js/play-view.js
Due: prettier --write

Add one missing docstring
  whales/static/js/play-view.js
Due: prettier --write

Adjust variable naming style
  whales/server.py
  whales/util/__init__.py
Due: pipenv run black

Fix stuff based on static lint output (#39)
  whales/minimax_ab/minimax.py
  whales/static/js/play-controller.js
  whales/static/js/play-view.js
  whales/util/chess.py
Due: prettier --write, pipenv run black

Make frontend choose random move on timeout
  whales/static/js/play-controller.js
  whales/static/js/play-model.js
Due: prettier --write

Path conditions:
  prettier --write: any of: *.js
  pipenv run black: any of: *.py
