Repository raxod502/cs121-whales: changes, and which lint-staged commands are due for each by the changed paths.
All: tidier --write, pipenv run black

.lintstagedrc:

linters:
  "*.js":
    - tidier --write
    - git add
  "*.py":
    - pipenv run black
    - git add
ignore:
  - "**/vendor/*.js"

# Local Variables:
# mode: yaml
# End:

Add Black to Pipfile
  Pipfile
  Pipfile.lock
Due: none

Fork chessboard.js to fix flickering
  README.md
  app/html/play.html
  app/static/js/vendor/chessboard-0.3.0.js
  app/static/js/vendor/chessboard-0.3.0.min.js
  app/static/js/vendor/chessboard-98b2382.js
  app/static/js/vendor/chessboard-98b2382.min.js
Due: tidier --write

Fix indentation in play.html
  app/html/play.html
Due: none

Add .dir-locals.el for CSS files
  .dir-locals.el
Due: none

Size board correctly on mobile
  app/static/css/play.css
  app/static/js/play-view.js
Due: tidier --write

Fix unforgivable error in .lintstagedrc
  .lintstagedrc
Due: none

Improve CSS for mobile
  app/html/play.html
  app/static/css/play.css
  app/static/js/play-view.js
Due: tidier --write

Further improvements to CSS
  app/html/new-game.html
  app/static/css/new-game.css
  app/static/css/play.css
Due: none

More CSS improvements
  app/html/new-game.html
  app/html/play.html
  app/static/css/new-game.css
  app/static/css/play.css
  app/static/css/shared.css
Due: none

Re-add model
  app/neural_net/interface.py
Due: pipenv run black

Fixed undo
  app/static/js/play-controller.js
  app/static/js/play-model.js
Due: tidier --write

Add script to download models
  Makefile
  README.md
  scripts/vendorbinaries.sh
Due: none

Fix dependency versions
  Pipfile
  Pipfile.lock
Due: none

Change name of "settings" button
  app/html/new-game.html
  app/html/play.html
Due: none

Cleanup in preparation for about page
  app/html/about.html
  app/html/new-game.html
  app/models.py
  app/server.py
  app/static/css/about.css
  app/static/css/new-game.css
  app/static/css/shared.css
  app/static/js/new-game.js
Due: tidier --write, pipenv run black

Add support for $WHALES_NO_TTY in pre-commit
  scripts/pre-commit
Due: none

Add ability to load alpha_chess_zero model
  app/neural_net/interface.py
Due: pipenv run black

Add data conversion in alpha_chess format
  app/neural_net/chess_alpha_data.py
  app/neural_net/data_conversion.py
Due: pipenv run black

Refactor data_conversion to use argparse
  app/neural_net/data_conversion.py
Due: pipenv run black

Add much nicer testing interface
  app/neural_net/test_neural_net.py
Due: pipenv run black

Undo accidental model change
  app/neural_net/interface.py
Due: pipenv run black

Test commit
  app/neural_net/data_conversion.py
Due: pipenv run black

Test commit 2
  app/neural_net/data_conversion.py
Due: pipenv run black

Remove old neural net code
  app/neural_net/neural_net.py
Due: pipenv run black

Update test_neural_net to work with alpha_chess
  app/neural_net/test_neural_net.py
Due: pipenv run black

Test commit with git lfs
  .gitattributes
  whales/neural_net/model 1.json
Due: none

Test commit #2 with git lfs
  whales/neural_net/model 1.json
Due: none

Merge and move data/model files
  whales/neural_net/data_conversion.py
  whales/neural_net/interface.py
  whales/neural_net/test_neural_net.py
Due: pipenv run black

Write and link About page
  whales/html/about.html
  whales/html/new-game.html
  whales/static/css/about.css
  whales/static/css/play.css
  whales/static/css/shared.css
  whales/static/js/util.js
Due: tidier --write

Finish configuring git-lfs
  .gitattributes
  .gitignore
Due: none

Add old version of model
  whales/neural_net/model 1.h5
Due: none

Remove vendorbinaries
  .vendor_urls
  scripts/build_tarball.sh
  scripts/vendorbinaries.sh
Due: none

Add Aptfile to install git-lfs
  Aptfile
Due: none

Updated data conversion to conform to chess_alpha_zero
  whales/neural_net/data_conversion.py
  whales/neural_net/test_neural_net.py
Due: pipenv run black

Temporarily ressurect vendorbinaries
  .vendor_urls
  scripts/build_tarball.sh
  scripts/vendorbinaries.sh
Due: none

Use GNU tar if available
  scripts/build_tarball.sh
Due: none

Update model tarball to reflect directory rename
  .vendor_urls
Due: none

Update model tarball correctly
  .vendor_urls
  scripts/build_tarball.sh
Due: none

Don't run Pipenv at app startup
  Makefile
Due: none
