Repository raxod502/cs121-whales: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, pipenv run black

Added AI descriptions
  whales/html/about.html
Due: none

Added chess.js and chess-alpha-zero to about page
  whales/html/about.html
Due: none

Update docstring spacing style guide to match Black
  STYLE.md
Due: none

Updated model descriptions
  whales/html/about.html
Due: none

Refactor minimax
  whales/minimax_ab/minimax.py
Due: pipenv run black

Change minimax to use depth instead of plies
  whales/minimax_ab/minimax.py
  whales/models.py
Due: pipenv run black

Add links to GitHub profiles to about page
  whales/html/about.html
Due: none

Expose neural net predictions directly to models
  whales/models.py
  whales/neural_net/interface.py
Due: pipenv run black

Fix new model name
  whales/models.py
Due: pipenv run black

Make W.H.A.L.E.S. multithreaded
  Makefile
Due: none

Decrease multithreading
  Makefile
Due: none

Fix undo bug when black undoes before computer moves
  whales/static/js/play-controller.js
  whales/static/js/play-model.js
Due: prettier --write

Report API errors to user
  whales/static/js/new-game.js
  whales/static/js/play-controller.js
  whales/static/js/play-view.js
  whales/static/js/util.js
Due: prettier --write

Remove material evaluation function
  whales/minimax_ab/minimax.py
  whales/models.py
Due: pipenv run black

Add minimax helper function to avoid ugly kwargs
  whales/minimax_ab/minimax.py
Due: pipenv run black

Add dryer lint
  LINT.md
Due: none

Update dryer lint
  LINT.md
Due: none

Remove all uses of 'model 1'
  whales/html/about.html
  whales/models.py
  whales/neural_net/interface.py
Due: pipenv run black

Remove nonfunctional policy model code
  whales/models.py
  whales/neural_net/interface.py
Due: pipenv run black

Refactor so models format net predictions
  whales/models.py
  whales/neural_net/interface.py
Due: pipenv run black

Minor style fixes
  whales/models.py
  whales/neural_net/interface.py
Due: pipenv run black

Added docstrings to new-game.js
  whales/static/js/new-game.js
Due: prettier --write

Added docstrings to play-controller
  whales/static/js/play-controller.js
Due: prettier --write

Add pawn promotion detection
  whales/static/js/play-model.js
Due: prettier --write

docstrings added to play-model
  whales/static/js/play-model.js
Due: prettier --write

docstrings added to play-view
  whales/static/js/play-view.js
Due: prettier --write

docstrings added to util
  whales/static/js/util.js
Due: prettier --write

Fixed docstrings after merge
  whales/static/js/new-game.js
  whales/static/js/play-controller.js
  whales/static/js/play-model.js
Due: prettier --write

new docstrings added in util.js
  whales/static/js/util.js
Due: prettier --write

Rollback models.py to working commit
  whales/models.py
Due: pipenv run black

Update models.py to properly call minimax
  whales/models.py
Due: pipenv run black

Strongly prioritize checkmate consideration
  whales/minimax_ab/minimax.py
Due: pipenv run black

Fix undo while waiting bug
  whales/static/js/play-controller.js
Due: prettier --write

pawn promotion not working
  whales/html/play.html
  whales/static/css/play.css
  whales/static/css/shared.css
  whales/static/js/play-controller.js
  whales/static/js/play-model.js
  whales/static/js/play-view.js
Due: prettier --write

Clarified issues, in reponse to change request
  whales/static/js/play-controller.js
  whales/static/js/util.js
Due: prettier --write

Updated docStings to match style guidelines
  whales/static/js/new-game.js
  whales/static/js/play-controller.js
  whales/static/js/play-model.js
  whales/static/js/play-view.js
  whales/static/js/util.js
Due: prettier --write

Add dryer lint (#23)
  LINT.md
Due: none

Minor addition to javascript comments
  whales/static/js/play-controller.js
Due: prettier --write

Refactor neural network interface and models (#24)
  whales/html/about.html
  whales/models.py
  whales/neural_net/interface.py
Due: pipenv run black

Path conditions:
  prettier --write: any of: *.js
  pipenv run black: any of: *.py
